/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1650ff;
  --ifm-color-primary-dark: #003ef9;
  --ifm-color-primary-darker: #003beb;
  --ifm-color-primary-darkest: #0030c2;
  --ifm-color-primary-light: #3265ff;
  --ifm-color-primary-lighter: #406fff;
  --ifm-color-primary-lightest: #698eff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1377ff;
  --ifm-color-primary-dark: #0068f7;
  --ifm-color-primary-darker: #0063e9;
  --ifm-color-primary-darkest: #0051c0;
  --ifm-color-primary-light: #2e87ff;
  --ifm-color-primary-lighter: #3c8fff;
  --ifm-color-primary-lightest: #65a6ff;
}